.card {
  margin: 10px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 350px;
  justify-self: center;
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  text-align: center;
  padding-top: 40px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background-color: var(--medium-blue);
  border-radius: 5px;
  color: var(--white);
  padding: 5px 8px;
}

.price {
  margin-bottom: 20px;
  font-size: 30px;
}

.description {
  font-size: 13px;
  margin: 0 0 40px;
}

.user {
  display: flex;
  align-items: center;
}
.user__info {
  margin-left: 10px;
}
.user__info h5 {
  margin: 0;
}

.user__info small {
  color: #545d7a;
}

.btn {
  background-color: var(--medium-blue);
  box-shadow: 5px 5px var(--dark-blue);
  color: var(--white);
  border: none;
  padding: 15px 25px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  display: block;
  cursor: pointer;
}

.btn:active {
  transform: translate(5px, 5px);
  box-shadow: none;
}

.footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}
