html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--white);
  line-height: 16px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
:root {
  --medium-blue: #30bced;
  --dark-blue: #0f86be;
  --grey: #303036;
  --white: #fffaff;
  --red: #fc5130;
  --black: #050401;
  --ligth-blue: #b2deef;
  --bold-blue: #15759c;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}
